Repository osu-atri/osu-dictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: @conf, @doc, @framework, @appearance

.github/labeler.yml:

"@conf":
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - "**/.github/**"

"@doc":
  - changed-files:
    - any-glob-to-any-file:
      - blog/**
      - docs/**/*.md

"@framework":
  - changed-files:
    - any-glob-to-any-file:
      - src/**

"@appearance":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.css"

Add custom font reference
  src/css/custom.css
  static/fonts/HarmonyOS Sans/LICENSE.txt
  static/fonts/Torus-Bold.otf
  static/fonts/Torus-Regular.otf
  static/fonts/Torus-SemiBold.otf
Labels: @framework, @appearance

Update site version number
  package-lock.json
  package.json
Labels: @conf

Add FntColor and Highlight modules
  src/components/FntColor.js
  src/components/Highlight.js
  src/theme/MDXComponents.js
Labels: @framework

Use highlight style for some text
  docs/termtable/2-beatmap.md
  docs/termtable/index.md
Labels: @doc

Add sidebar support for newest ruleset doc
  sidebars.js
Labels: @conf

Add basic animation and styles
  src/css/custom.css
  src/pages/index.module.css
  src/pages/markdown-page.md
Labels: @framework, @appearance

Add editorconfig for code linting
  .editorconfig
Labels: @conf

Use image as background
  src/components/HomepageTitle/HomepageTitle-module.css
  src/components/HomepageTitle/HomepageTitle.js
  src/components/RandomBox/RandomBox.js
  src/css/custom.css
  src/pages/index.js
  static/img/topbkg.jpg
Labels: @framework, @appearance

Change title text color on dark mode
  src/css/custom.css
Labels: @framework, @appearance

Add prism support for CSharp and Bash languages
  docusaurus.config.js
Labels: @conf

Add Mermaid support for graphing
  docusaurus.config.js
  package-lock.json
  package.json
Labels: @conf

Add auto-invert style class
  src/css/custom.css
Labels: @framework, @appearance

Add section about tournaments to gameplay table
  docs/termtable/3-gameplay.md
Labels: @doc

Add design rounded terms
  docs/termtable/6-tech.md
  docs/termtable/img/anchor-and-origin.png
Labels: @doc

Add terms for tournaments
  docs/termtable/3-gameplay.md
Labels: @doc

Include VSCode configuration in gitignore
  .gitignore
Labels: @conf

Bye Submodules
  .gitmodules
Labels: @conf

Rewrite deploy workflows to exclude submodule pulling
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
Labels: @conf

Update Docusaurus framework version
  package-lock.json
  package.json
  src/pages/markdown-page.md
  src/theme/BlogPostItem/Content/index.js
  src/theme/BlogPostItem/Content/styles.module.css
  src/theme/DocItem/Layout/index.js
  src/theme/DocItem/Layout/styles.module.css
Labels: @conf, @framework, @appearance

Update all dependency packages
  package-lock.json
Labels: @conf

Adjust file structure and TOC layout
  blog/index.md
  docs/lazer/dev-tutorial/index.md
  docs/lazer/index.md
  docs/lazer/lazer-tutorial/2-setting.md
  docs/lazer/lazer-tutorial/3-interface.md
  docs/lazer/tips/img/editor-error.png
  docs/lazer/tips/img/export-menu.png
  docs/lazer/tips/img/mgr-editor.png
  docs/lazer/tips/img/mgr-iconlist.png
  docs/lazer/tips/img/mgr-main.png
  docs/lazer/tips/img/mgr-signin.png
  docs/lazer/tips/img/mgr-update.png
  docs/lazer/tips/img/ruleset-info.png
  docs/lazer/tips/lazermap2st.md
  docs/lazer/tips/ruleset-man.md
  docusaurus.config.js
  sidebars.js
Labels: @conf, @doc

Use `authors` YAML file to manage authors
  blog/Lazer_Updates/lazer-0519.md
  blog/Lazer_Updates/lazer-0718.md
  blog/The_Followpoint/2024-07-01-the-followpoint-neuro-sama-the-ai-vtuber-that-invaded-osu.md
  blog/authors.yml
  blog/contests/2024-03-30-spring-fanart-results.md
  blog/misc/tech-history.md
Labels: @doc

Bump version to 1.0.0 (ohhhh)
  package-lock.json
  package.json
Labels: @conf

Fix a broken link (thx GitHub Actions)
  docs/lazer/lazer-tutorial/2-setting.md
  package-lock.json
  package.json
Labels: @conf, @doc

Update lazer setting wiki page (~90%)
  .vscode/settings.json
  docs/lazer/lazer-tutorial/2-setting.md
  docs/lazer/lazer-tutorial/img/replay-setting.png
  docs/lazer/lazer-tutorial/img/songselect-blur.png
Labels: @doc

Use experimental Docusaurus Faster
  babel.config.js
  docusaurus.config.js
  package-lock.json
  package.json
Labels: @conf

Support FontAwesome icon usage
  package-lock.json
  package.json
  src/theme/MDXComponents.js
Labels: @conf, @framework

Rewrite feature comparison wiki with new icons
  docs/lazer/lazer-tutorial/0-feature.md
  docs/lazer/lazer-tutorial/svg/check-MUI.svg
  docs/lazer/lazer-tutorial/svg/cross-MUI.svg
  docs/lazer/lazer-tutorial/svg/partial-MUI.svg
Labels: @doc

Rewrite icon image display part
  docs/lazer/lazer-tutorial/2-setting.md
  docs/lazer/lazer-tutorial/3-interface.md
Labels: @doc

[Experimental] Implement osu!lazer setting button
  src/components/SettingsUI/SettingsUI.js
  src/components/SettingsUI/SettingsUI.module.css
Labels: @framework, @appearance

Add corresponding section icons of settings page
  docs/lazer/lazer-tutorial/1-init.md
  docs/lazer/lazer-tutorial/2-setting.md
  docs/lazer/lazer-tutorial/img/home.png
  docs/lazer/lazer-tutorial/img/notify.png
  docs/lazer/lazer-tutorial/img/options-button.png
  docs/lazer/lazer-tutorial/img/reset.png
  docs/lazer/lazer-tutorial/img/rewind-button.png
  docs/lazer/lazer-tutorial/img/settings.png
  docs/lazer/lazer-tutorial/index.md
Labels: @doc

Add new settings and clean up wiki layout
  docs/lazer/lazer-tutorial/2-setting.md
  docs/lazer/lazer-tutorial/3-interface.md
  docs/lazer/lazer-tutorial/img/maintenance-list.png
  docs/lazer/lazer-tutorial/img/taiko-touch-DDKK.png
  docs/lazer/lazer-tutorial/img/taiko-touch-KDDK.png
Labels: @doc
