Repository osu-atri/osu-dictionary, pull requests merged in 2024-07, with the labels that each got.

#15 update 2-beatmap.md
  docs/2-beatmap.md
Labels: bug

#11 补充部分翻译
  docs/5-people.md
Labels: @doc

#31 Add website search
  docusaurus.config.js
Labels: enhancement, @framework, #quickdeal
